.main-grid{
    display: grid;
    grid-template-columns: 1fr;
}

.search-form{
    margin-top: 50px;
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translateX(-40%);
}

.tag-box{
    border: 1px solid white;
    padding: 20px;
    background-color: white;
    width: 70%;
    height: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 120px;
}