<nav class="navbar navbar-expand navbar-custom">
  <a class="navbar-brand" href="#">Daily Record</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">CALENDER <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">SEARCH <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">REWARD <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item active">
        <a class="nav-link" href="#">SIGN OUT</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">|</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">MYPAGE</a>
      </li>
    </ul>
  </div>
</nav>